$accessabilityConfig: (
    theme: (
        black-white-mode: (
            contrast1: #000000,
            contrast2: #ffffff,
        ),
        black-yellow-mode: (
            contrast1: #000000,
            contrast2: yellow,
        ),
        yellow-black-mode: (
            contrast1: yellow,
            contrast2: #000000,
        ),
        dark-mode: (
            contrast1: #222222,
            contrast2: #ffffff,
        ),
        bright-mode: (
            contrast1: #ffffff,
            contrast2: #222222,
        ),
    ),
    font: (
        standard: (
            increase: 1,
            line-height: 'normal'
        ),
        medium: (
            increase: 1.25,
            line-height: 1.5,
        ),
        large: (
            increase: 1.5,
            line-height: 1.75,
        ),
    ),
);


body {
    @each $size in map-keys(map-get($accessabilityConfig, font)) {
        // set the data font attrib
        &[data-font=#{$size}] {
            p, li, strong, a{
                font-size: calc(#{$body-font-size} *  #{map-fetch($accessabilityConfig, font $size increase)})!important;
                line-height: calc(#{$body-font-size} *  #{map-fetch($accessabilityConfig, font $size line-height)})!important;
            }
            h1 {
                font-size: calc(#{$headline1} *  #{map-fetch($accessabilityConfig, font $size increase)})!important;
                line-height: calc(#{$headline1} *  #{map-fetch($accessabilityConfig, font $size line-height)})!important;
            }
            h2 {
                font-size: calc(#{$headline2} *  #{map-fetch($accessabilityConfig, font $size increase)})!important;
                line-height: calc(#{$headline2} *  #{map-fetch($accessabilityConfig, font $size line-height)})!important;
            }
            h3 {
                font-size: calc(#{$headline3} *  #{map-fetch($accessabilityConfig, font $size increase)})!important;
                line-height: calc(#{$headline3} *  #{map-fetch($accessabilityConfig, font $size line-height)})!important;
            }
            h4 {
                font-size: calc(#{$headline4} *  #{map-fetch($accessabilityConfig, font $size increase)})!important;
                line-height: calc(#{$headline4} *  #{map-fetch($accessabilityConfig, font $size line-height)})!important;
            }
            h5 {
                font-size: calc(#{$headline5} *  #{map-fetch($accessabilityConfig, font $size increase)})!important;
                line-height: calc(#{$headline5} *  #{map-fetch($accessabilityConfig, font $size line-height)})!important;
            }
            h6 {
                font-size: calc(#{$headline6} *  #{map-fetch($accessabilityConfig, font $size increase)})!important;
                line-height: calc(#{$headline6} *  #{map-fetch($accessabilityConfig, font $size line-height)})!important;
            }
        }
    }
}
